.container {
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: inset;
  display: flex;
  flex-direction: column;

  height: 45vh;
  width: 30vw;
  margin-top: 5vh;
  margin-left: 35vw;
}
